*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-pink: #FCD1F0;
  --light-grey: #e5e4e2;
  --white: #f9f8f6;
  --dark-pink: #D62EA7;
  --dark-purple: #992ED6;
  --light-blue: #9AD7FC;
  --purple: #CA9AFC;
  --dark-purple: #992ED6;
  --black: #000;
}

body {
  background-color: var(--light-pink);
}

.main-title {
  text-align: center;
  color: var(--dark-purple);
  margin: 20px 0;
  font-family: serif;
  font-style: bold;
}

.selections-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 300px;
  background-color: var(--white);
  padding: 15px;
  border-radius: 10px;
}

.dropdown {
  margin: 10px auto 20px;
  width: 200px;
}

.dropdown-text {
  text-align: center;
  font-family: serif;
}

.btn {
  display: block;
  cursor: pointer;
  width: 200px;
  color: var(--black);
  background-color: var(--light-blue);
  background-image: linear-gradient(var(--purple), var(--dark-purple));
  border-color: var(--white);
  border-width: 3px;
  font-size: 1.2rem;
  margin: 25px auto;
  font-family: serif;
}

.btn:hover {
  background-image: linear-gradient(var(--dark-pink), var(--light-pink));
}

#madlib-text {
  color: var(--black);
  font-size: 1.3rem;
  text-align: center;
  font-family: serif;
  margin: 100px;
}
