*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-pink: #FFEFEF;
  --light-grey: #e5e4e2;
  --white: #f9f8f6;
  --dark-pink: #E2D1BC;
  --dark-purple: #726358;
  --black: #4D4439;
}

body {
  background-color: var(--light-pink);
}

.main-title {
  text-align: center;
  color: var(--dark-purple);
  margin: 20px 0;
  font-family: serif;
  font-style: bold;
}

.selections-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 300px;
  background-color: var(--white);
  padding: 15px;
  border-radius: 10px;
}

.dropdown {
  margin: 10px auto 20px;
  width: 200px;
}

.dropdown-text {
  text-align: center;
  font-family: serif;
}

.btn {
  display: block;
  cursor: pointer;
  width: 200px;
  color: var(--black);
  background-color: var(--dark-pink);
  background-image: linear-gradient(var(--dark-pink), var(--white));
  border-color: var(--white);
  border-width: 3px;
  font-size: 1.2rem;
  margin: 25px auto;
  font-family: serif;
}

.btn:hover {
  background-image: var(--light-grey);
}

#madlib-text {
  color: var(--black);
  font-size: 1.3rem;
  text-align: center;
  font-family: serif;
  margin: 100px;
}
