body {
    text-align: center;
}

h1 {
    font-size: 24px;
}

#volumeContainer {
    width: 300px;
    height: 100px;
    margin: 20px auto;
    cursor: pointer;
    border: 1px solid #333;
    overflow: hidden;
    padding: 5px;
    background-color: #eee;
    border-radius: 5px;
}

#volumeInput {
    width: 100px;
    margin-right: 10px;
}

#increaseBtn, #decreaseBtn {
    margin-top: 10px;
}

#volumeStatus {
    margin-top: 10px;
}
